<!-- ko with: home -->
@using SocialXray.Models
@model SocialXray.Models.ReportViewModels
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    var keywordsPopularity = [['Task', 'Hours Per Day']];

    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        // Clean up implementation
        // Try : https://stackoverflow.com/questions/19418244/elegant-way-to-convert-string-of-array-of-arrays-into-a-javascript-array-of-arra
        //entries.forEach(parseEntry);

        var entries = "@Html.Raw(Model.KeywordsPopularity)";
        entries = "[" + entries + "]";
        var keywordsPopularity = eval(entries);
        var data = google.visualization.arrayToDataTable(keywordsPopularity);
        
        var options = {
            title: 'Twitter Hashtags',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('linechart'));
        chart.draw(data, options);
    }

    function parseEntry(item) {
        keywordsPopularity.push([item.Item1, item.Item2]);
    }
</script>

<script type="text/javascript">
   google.charts.load('current', {packages: ['corechart', 'bar']});
   google.charts.setOnLoadCallback(drawBasic);

   function drawBasic() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', '@Model.Keyword1');
        data.addColumn('number', '@Model.Keyword2');
        
        var entries = "@Html.Raw(Model.KeywordsPopularityLineChart)";
        entries = "[" + entries + "]";
        console.log(entries);
        var keywordsPopularity = eval(entries);
        console.log(keywordsPopularity);
        var data = google.visualization.arrayToDataTable(keywordsPopularity);

        /*
        var options = {
          title: 'Number of Tweets vs Date',
          hAxis: {
            title: 'Date',
            format: 'mm/dd/yyyy'
          },
          vAxis: {
            title: 'Number of tweets'
          }
        };
        */

        var options = {
            chart: {
                title: 'Tweets by date'
            }
        };

        var materialChart = new google.charts.Bar(document.getElementById('chart_div'));
        materialChart.draw(data, google.charts.Bar.convertOptions(options));
      };
</script>
<div class="jumbotron">
    <h1>Social X-ray</h1>
</div>
@using (@Html.BeginForm("Report", "Home", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-4">
            <label>First Keyword</label>
            <br />
            <input type="text" name="twit_keywor1" value="" />
        </div>
        <div class="col-md-4">
            <label> Second Keyword</label>
            <br />
            <input type="text" name="twit_keywor2" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-4">
            <input type="submit" name="btnSearch" value="Search" class="btn-info" />
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div id="linechart" style="width: 900px; height: 500px;">
        </div>
        <div id="chart_div" style="width:900px; height:500px">
        </div>
    </div>

}